/*div{border: 3px solid yellow;}*/
div>* {margin: 10px;}

body{color: white;}
.main{ display: grid; grid-template-rows:  600px 2fr;}
.hed{background-color: blue; display: flex; justify-content: right; height: 50px; color: black;font-weight: bolder; }
.hed:hover{background-color: rgb(39, 39, 90);}
.hdb:hover{color: red; border: outset;}
.name{font-size: 2em; font-family: Georgia, 'Times New Roman', Times, serif; color: aqua;}
.nn{margin-left: 40%;}
.all{display: flex; flex-direction: row; justify-content: space-between; background-image: url(gym3.jpeg);background-repeat: no-repeat; background-size: cover; }
.left{display: flex; flex-direction: column;}
.up{flex-basis: 40%; width: 300px; height: 150px; border-radius: 10px; margin-left: 30px; background-image: url(../images/deskt.jpg); background-size: cover; background-position: 10%;}
.down{flex-basis: 60%; display: flex; flex-direction: column; justify-content: space-around;}
.right{display: flex; flex-direction: column; justify-content: space-between;}
.ss{font-size: 1.5em;}



ul{list-style-type: none;}

.vice{font-size: 3em; text-align: center;}

.right >* {margin-right: 5% ;}

.right img{display: none; padding-right: 0px;}
li:hover img{display: block;}

.right button{background-color: orangered; 
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 300; color: white; letter-spacing: 2px; border-radius: 5px;}

#ftr{ display: flex; justify-content: space-between; background-color: rgb(13, 13, 22);}
.ftrb{text-align: center;}

#test{display: flex; justify-content: space-evenly;background-image: url(gym6.jpeg); background-size: cover; background-position: center; }
#test{display: none;}
#week{display: flex; justify-content: space-evenly; background-image: url(gym2.jpeg); background-size: cover; background-position: center; }
#week{display: none;}
#yearl{display: flex; justify-content: space-evenly; background-image: url(gym1.jpeg); background-size: cover; background-position: center; }
#yearl{display: none;}
#month{display: flex; justify-content: space-evenly; background-image: url(gym4.jpeg); background-size: cover; background-position: center; }
#month{display: none;}
table{width: 300px;}
td:nth-of-type(2){text-align: right;}
#tabl{display: none;}

#abt{display: none;}

.info{color: rgb(251, 255, 2); font-weight: 700; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 700;}
.dchest{color: lime;font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.darms{color: orange;font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.dlegs{color: green;font-weight: bold; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
.dfbody{color: peru;font-weight: bold; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.light{color: rgb(243, 9, 9);font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}



.right button{animation: cham 5s ease 0s 3}
@keyframes cham {
    10%{background-color: red; }
    30%{background-color: black;}
    60%{background-color: blue;}
    90%{background-color: lime;}
    
}



@media screen and (max-width: 550px) {
    body{background-color: black;}
    .hed{width: 100%; margin: 0;}
    .right>*{display: flex; margin: 0 40% 0 0; flex-direction: row;}
    .main{display: flex; flex-direction: column; }
    #ftr{display: flex; flex-direction: column; width: 100%;}
    #ftr> *{ align-self: center;}
    .all{display: flex; flex-direction: column;}
    .right button{letter-spacing: 3.5px;}
    #test{width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
    #test> *{flex-basis: 25%;}
    #test {display: none;}
    #week{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
    #week {display: none;}
    #week > *{flex-basis: 25%;}
    #month{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
    #month {display: none;}
    #month> *{flex-basis: 25%;}
    #yearl{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
    #yearl {display: none;}
    #yearl> *{flex-basis: 25%;}
    .info{ color:  red;font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 700; font-size: smaller; margin: 0;}
    .info> *{padding: 0;}
    

.dchest{color: orangered;font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.darms{color: rgb(0, 217, 255);font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.dlegs{color: rgb(7, 255, 7);font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.dfbody{color: rgb(247, 0, 214);font-weight: bold;font-family: cursive;}
.light{color: rgb(195, 248, 3);font-weight: bold; font-family: Arial, Helvetica, sans-serif;}


}

@media screen and (max-width: 770px) and (min-width: 550.1px){
    body{background-color: rgb(51, 39, 39);}
   .hed{width: 100%; margin: 0;}
   .right>*{display: flex; margin: 0 40% 0 0; flex-direction: row;}
   .main{display: flex; flex-direction: column; }
   #ftr{display: flex; flex-direction: column; width: 100%;}
   #ftr> *{ align-self: center;}
   .all{display: flex; flex-direction: column;}
   .right button{letter-spacing: 3.5px;}

   #test{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
   #test{display: none;}
   #test>* {flex-basis: 35%;}
   #week{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
   #week {display: none;}
   #week>* {flex-basis: 35%;}
   #month{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
   #month {display: none;}
   #month>* {flex-basis: 35%;}
   #yearl{width: 100%;display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}

   .info{ color:  red;font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 700; font-size: small; margin: 0;}
   .info> *{padding: 0;}
   #yearl {display: none;}
   #yearl>* {flex-basis: 35%;}
.dchest{color: orangered;font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.darms{color: rgb(0, 217, 255);font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.dlegs{color: rgb(7, 255, 7);font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.dfbody{color: rgb(247, 0, 214);font-weight: bold;font-family: cursive;}
.light{color: rgb(195, 248, 3);font-weight: bold; font-family: Arial, Helvetica, sans-serif;}


   }
   
   @media screen and (max-width: 1199px) and (min-width: 770.1px){     
    body{background-color: rgb(63, 26, 26)}
    .hed{width: 100%; margin: 0;}
    .right>*{display: flex;flex-direction: row;}
    .main{display: flex; flex-direction: column; }
    #ftr{width: 100%;}
    
    .all{display: flex; flex-direction: row;}
    .right button{letter-spacing: 3.5px;}
  
    .info{ color:  red;font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 700; font-size: small; margin: 0;}
.dchest{color: orangered;font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.darms{color: rgb(0, 217, 255);font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.dlegs{color: rgb(7, 255, 7);font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.dfbody{color: rgb(247, 0, 214);font-weight: bold;font-family: cursive;}
.light{color: rgb(195, 248, 3);font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
  }
    
   
   
   